[submodule "themes/kiera"]
	path = themes/kiera
	url = https://github.com/avianto/hugo-kiera.git
[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
