[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/avianto/hugo-kiera.git
[submodule "themes/kiera"]
	path = themes/kiera
	url = git@github.com:BasLangenberg/hugo-kiera.git
